main.container {
    padding-bottom: 50px;
}
.margin-bot-20 {
    margin-bottom: 20px;
}
.img-btns {
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.table td, .table th{
    vertical-align: middle;
    text-align: center;
}
.bg-gray-900 {
    background-color: #eee;
}