/* stylelint-disable selector-list-comma-newline-after */
* {
    color: #fff;
}
a:hover {
    text-decoration: none;
}
.blog-header {
    line-height: 1;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    color: #fff;
    font-weight: bold;
}

.blog-header-logo:hover {
    text-decoration: none;
}

nav a {
    color: #fff;
}
.fa-star.checked {
  color: orange;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 3.25rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #2d3748 !important; }
.border-bottom { border-bottom: 1px solid #2d3748 !important; }

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    position: relative;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.col-image .card,
.col-video .card {
    height: 250px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g-youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.g-youtube:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../imgs/youtube_play.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    display: block;
}
.home-btn a {
    display: block;
    margin: 10px auto 20px;
    width: fit-content;
}
.bg-gray-900 {
    background-color: #1a202c;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, .05);
}
.card-movie {
    margin-top: 2rem;
    border: 1px solid #2d3748;
    border-radius: 5px;
    padding: 10px;
}
.card-movie-image img{
    width: 100%;
    max-width: 100%;
}
.card-movie-title {
    margin-top: 1rem;
}
.text-title {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 1.125rem;
}
.text-orange-500 {
    color: #ed8936;
}

.movie-detail .movie-image {
    width: 100%;
    max-width: 300px;
}
.movie-detail .movie-button {
    padding: 0.75rem 1.25rem;
    background-color: #ed8936;
    color: #1a202c;
    border-radius: 5px;
    font-weight: bold;
}
.movie-detail .movie-button span {
    color: #1a202c;
    vertical-align: middle;
}
.movie-detail .movie-button svg {
    width: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}
.list-videos {
    margin: 2rem 0;
}
.list-videos li {
    display: inline-block;
    list-style: none;
}
.list-videos li a {
    padding: 7px 15px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #ed8936;
    border-radius: 3px;
    font-size: 15px;
}
.list-videos li a.active {
    color: #1a202c;
    background: #ed8936;
}